*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 400px;
    border: 2px solid green;
    display: flex;
    
    /* Flex Container Properties */
    /* Flex Direction */
    flex-direction: row;
    /*
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */

    /* Flex Wrap */
    flex-wrap: wrap; /* This was commented during trying shrink attribute */
    /* flex-wrap: wrap-reverse;
    flex-wrap: nowrap; */

    /* Justify Content */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */

    /* Align Items */
    /* align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;  Default value
    align-items: baseline; */

    justify-content: center;
    align-items: center;
    /* gap: 10px; */

    /* Align Content */
    /* align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-around;
    align-content: space-evenly;
    align-content: space-between; */

    align-content: flex-start;
}

/* Flex Items Properties */
.box{
    border: 1px solid brown;
    background-color: aqua;
    /* width: 100px; */
    width: 150px;
    flex-basis: 50%;
}

#box1{
    order:1;
    /* flex-grow: 2; */
    /* flex-shrink: 4; */
}

#box3{
    order:8;
    /* flex-grow: 4; */
    /* flex-shrink: 2; */
}

