p
{
    color: purple;
    font-size: larger;
}

h1
{
    background-color: aqua;
}

.blue
{
    color: gray;
}

.green
{
    color:pink;
}

.red
{
   columns: rgb(41, 70, 70);
}

a
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}