img{
    width: 400px;
    height: auto;
}

.container{
    position: relative;
}

.text{
    color: #000000;
}

#lefttop{
    position:absolute;
    top: 8px;
    left: 16px;
}

#leftbottom{
    position:absolute;
    bottom: 8px;
    left: 16px;
}

#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}