.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;
}

.box{
    border: 2px solid orange;
    background-color: aqua;
    height: 150px;
    width: 150px;
    margin: 20px;

    /* transition: 2s; */
    /* transition-property: background-color;
    transition-delay: 5s;

    transition: background-color 1s ease 3s; */
    /* transition: transform 5s ease 1s; */
    /* transition: all 200ms ease; */
    /* transition: transform 3s ease-in; */
    /* transition: transform 3s cubic-bezier(0.42, 0, 0.55, 1.04) 1s; */

    transition-property: transform;
    transition-duration: 3s;
    transition-delay: 1s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.55, 1.04);
}

.box:hover{
    /* background-color: brown;
    transform: rotate(45deg); */
    
    transform: translateX(500px) rotate(360deg) scale(2);
}